body {
    height: 1800px;
}
.bg-trainer {
    background-image: url("../../assets/imgs/wallpaper 1.jpg");
    background-position: 50% 55%;
}
.carousel-black {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0.5) 100%
    );
}
.bg-paper {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 100%),
        url("../../assets/imgs/background-paper.jpg");
    background-position: 25% 15%;
}
